@charset "UTF-8";

:root{
    --verde: #4B959A;
    --roxo: #5F2C82;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    body{
        background-image: linear-gradient(var(--roxo), var(--verde));
    }

    #login{
        width: 80%;
        height: 280px;
    }

    #login > .imagem{
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    #login > .formulario > p{
        position: relative;
        font-size: 0.8em;
        left: 10px;
    }
}

@media screen and (min-width: 1025px) {
    body{
        background-image: linear-gradient(var(--roxo), var(--verde));
    }

    #login{
        width: 950px;
        height: 350px;
    }

    #login > .imagem{
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }

    #login > .formulario > p{
        font-size: 1em;
        padding-top: 10px;
        padding-left: 5px;
    }
}